<h1>Lista de Clientes</h1>

<table mat-table [dataSource]="clientes" class="mat-elevation-z8">

  <!-- Nome -->
  <ng-container matColumnDef="nome">
    <th mat-header-cell *matHeaderCellDef> Nome </th>
    <td mat-cell *matCellDef="let c"> {{ c.nome }} </td>
  </ng-container>

  <!-- CPF -->
  <ng-container matColumnDef="cpf">
    <th mat-header-cell *matHeaderCellDef> CPF </th>
    <td mat-cell *matCellDef="let c"> {{ c.cpf }} </td>
  </ng-container>

  <!-- Telefones -->
  <ng-container matColumnDef="telefones">
    <th mat-header-cell *matHeaderCellDef> Telefones </th>
    <td mat-cell *matCellDef="let c"  >

      <div *ngFor="let t of c.telefones" >
        {{ t.telefone }} ({{ t.tipo }})

        <button mat-button color="primary" (click)="abrirEdicaoTelefone(c, t)">
          Editar
        </button>

        <button mat-button color="warn" (click)="removerTelefone(t.id)">
          Excluir
        </button>
      </div>

    </td>
  </ng-container>

  <!-- Emails -->
  <ng-container matColumnDef="emails">
    <th mat-header-cell *matHeaderCellDef> Emails </th>
    <td mat-cell *matCellDef="let c">

      <div *ngFor="let e of c.emails">
        {{ e.email }}

        <button mat-button color="primary" (click)="abrirEdicaoEmail(c, e)">
          Editar
        </button>

        <button mat-button color="warn" (click)="removerEmail(e.id)">
          Excluir
        </button>
      </div>

    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="['nome','cpf','telefones','emails']"></tr>
  <tr mat-row *matRowDef="let row; columns: ['nome','cpf','telefones','emails'];"></tr>

</table>

<!-- Modal TELEFONE -->
<div *ngIf="selectedTelefone" class="modal">
  <h2>Editar Telefone</h2>

  <input [(ngModel)]="selectedTelefone.telefone" mask="(00) 0000-0000||(00) 00000-0000" placeholder="Telefone" >
  <select [(ngModel)]="selectedTelefone.tipo">
    <option value="CELULAR">Celular</option>
    <option value="RESIDENCIAL">Residencial</option>
    <option value="COMERCIAL">Comercial</option>
  </select>

  <button mat-raised-button color="primary" (click)="salvarEdicaoTelefone()">
    Salvar
  </button>
  <button mat-button (click)="cancelarEdicao()">Cancelar</button>
</div>

<!-- Modal EMAIL -->
<div *ngIf="selectedEmail" class="modal">
  <h2>Editar Email</h2>

  <input [(ngModel)]="selectedEmail.email" placeholder="Email">

  <button mat-raised-button color="primary" (click)="salvarEdicaoEmail()">
    Salvar
  </button>
  <button mat-button (click)="cancelarEdicao()">Cancelar</button>
</div>
